html,
body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background:#06263C;
    color:#658181;
    font-size:15px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 80px 0px;
}

h1,h2,h3 {
   margin-top:0;
   /*font-weight:bold;*/
   /*letter-spacing:2px;*/
   font-family: 'Oswald', sans-serif;
   color: #4f6464;
   font-weight:bold;
}

h2 {
   font-size:32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
   text-transform: none;
}

a {
   color: #3fb4da;
   font-weight: 500;
}

a:hover, a:focus {
   color: #1d7896;
   text-decoration: none;
}

a:active {
   color: #14556b;
}

.navbar {
   margin-bottom: 0;
   background-color: #284347;
   font-size: 14px;
   line-height: 1.5;
   letter-spacing: 2px;
   border-radius: 0;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   border:none;
}



.navbar-default2 .navbar-nav>li>a {
   color: #fff;
}

.navbar-default2 .navbar-nav>li>a:hover, .navbar-default2 .navbar-nav>li>a:active {
   color: #fff;
   background-color: #5c97a3;
}

.navbar-default2 .navbar-toggle {
    border-color: #fff
 }

 .navbar-default2 .navbar-toggle:focus, .navbar-default2 .navbar-toggle:hover {
    background-color: #5c97a3;
 }

 .navbar-default2 .navbar-toggle .icon-bar {
    background-color: #fff;
 }

.nav>li>a:focus, .nav>li>a:hover {
   background:#5c97a3;
}




header {
  padding-top:100px;
  background:#5c97a3;
  background-image: url("../img/bg.png");
   /*margin-bottom:25px;*/
   border-bottom: 2px solid #284347;

}

.header-info {
  padding-top:45px;
  padding-left:100px;
  font-size:20px;
  color:#f2f2f2;
}

#headshot {
   display:block;
   margin: 0 auto;
}



section {
   /*background-image: url("../img/bg.png");*/
   padding: 80px 0px;
}



#projects {
   background: #fff;
}



#projects h2{
   margin-bottom:30px;
   margin-top:0px;

}



.project-img {
   display:block;
   margin:0 auto;
   margin-bottom:20px;

   -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
   box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
}

.takeaways h4 {
   font-size:inherit;
   margin-top:15px;
   margin-bottom:10px;
   font-weight:bold;
}

.takeaways ul li {
   padding-bottom:5px;
}

.skills-list{
   list-style-type: none;
   padding-left:0;
   line-height: 35px;
   margin:0;
   margin-bottom:-5px;
}

.skills-list li {
   display: inline;
   /*border:1px solid #06263C;*/
   color: #5c838a;
   padding:5px;
   /*border-radius: 2px;*/
   background:#d9e6e6;
   /*color:white;*/
   margin-right:5px;
}

.project-links {
   margin-bottom:15px;
   font-size:16px;
   font-weight:bold;
}


/*SECTION SKILLS*/

#skills {
   background-color:#CFEAEF;
   border-top:2px solid #8CACB2;
   border-bottom:2px solid #8CACB2;
}


.section-skills-list {
   list-style-type: none;
   padding-left:0;
   line-height: 25px;
   margin-bottom:0px;
}

.section-skills-list li {
   font-size:20px;
   display: inline;
   /*border:1px solid black;*/
   padding:3px;
   border-radius: 2px;
   /*background:#50748E;*/
   margin-right:10px;
}


/*SECTION CONTACT*/

#contact {
   background: #fff;
}

#contact .contact-intro {
   margin-top:25px;
   margin-bottom:25px;
}

#contact .contact-info {
   font-size:18px;
}

/*FOOTER*/

footer {
   background:#284347;
   padding:50px;
   font-size:45px;
   color: #5C97A3;
   text-align: center;
}

footer i {
   /*margin-right:15px;*/
}

.footer-icons a {
   color: #5C97A3;
   opacity:0.6;
}
.footer-icons a:hover {
   opacity:0.9;
}

.footer-icons a:active {
      opacity:1.0;

}

footer img {
   height:40px;
   margin-bottom:5px;
}

footer p {
   font-size:14px;
   color: #5C97A3;
}