html,
body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background:#06263C;
    color:#5E5240;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 50px 0px;
}

h2,h3 {
   margin-top:0;
   font-weight:bold;
}

h2 {
   font-size:32px;
}

.navbar {
   margin-bottom: 0;
   background-color: #06263C;
   z-index: 9999;
   border: 0;
   font-size: 12px;
   line-height: 1.5;
   letter-spacing: 4px;
   border-radius: 0;
   font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
   color: #50748E;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
   color: #fff;
   background-color: #50748E;
}
.navbar-default .navbar-toggle {
   border-color: transparent;
   color: #50748E;
}

header {
  padding-top:100px;
  background:#50748E;
  background-image: url("../img/bg.png");
   /*margin-bottom:25px;*/
   border-bottom: 1px solid #06263C;

}

.header-info {
  padding-top:45px;
  padding-left:100px;
  font-size:20px;
  color:#f2f2f2;
}


/* header {
   margin-top:50px;
   height: 100%;
   font-family: 'Roboto', sans-serif;
   background: #50748E;
   background-image: url('../img/bg.png');
   display: table;
   width: 100%;

} */


section {
   /*background-image: url("../img/bg.png");*/
   padding: 30px 0px;
}

#skills {
   background-color:#D4C3AA;
}


.section-skills-list {
   list-style-type: none;
   padding-left:0;
   line-height: 25px;
   margin-bottom:0px;
}

.section-skills-list li {
   font-size:20px;
   display: inline;
   /*border:1px solid black;*/
   padding:3px;
   border-radius: 2px;
   /*background:#50748E;*/
   margin-right:10px;
}

#projects {
   background: #fff;
}



#projects h2{
   margin-bottom:30px;
   margin-top:0px;
}

.project-info h3 {
   font-weight:bold;
}

.project-img {
   display:block;
   margin:0 auto;
   margin-bottom:20px;

   -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
   box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
}

.takeaways h4 {
   font-size:inherit;
   margin-top:15px;
   margin-bottom:10px;
   font-weight:bold;
}

.takeaways ul li {
   padding-bottom:5px;
}

.skills-list{
   list-style-type: none;
   padding-left:0;
   line-height: 35px;
   margin:0;
   margin-bottom:-5px;
}

.skills-list li {
   display: inline;
   /*border:1px solid #06263C;*/
   padding:5px;
   /*border-radius: 2px;*/
   background:#D4C3AA;
   /*color:white;*/
   margin-right:5px;
}

.project-links {
   margin-bottom:15px;
   font-size:16px;
   font-weight:bold;
}